<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">
    <body>
	    <ui:composition> 
	      <div align="center">
           <h:graphicImage url="/resources/images/4.png"/> 
           <br />
            <br/>
             <br/>
             <br/>
             <br/>
             <h1>Programacion Visual 2018</h1>
             <h4>Cristian Cortez</h4>
         </div>	   
	    </ui:composition>
    </body>
</html>