<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui">
<head></head>
<body>
   <ui:composition>
    <div align="center">
           <H1>Sistema de Alumnos</H1>
           <H2>Facultad de Ingeniería</H2>
           <br />
           <h:graphicImage url="/resources/images/4.png"/>     
         
</div>
	 <div align="center">
      <h:panelGrid columns="4"> 
    
          <p:commandButton action="#{usuarioBean.gestionUsuarios}"  value="Usuarios"/>        
          <p:commandButton action="#{usuarioBean.misDatos}"         value="Mis Datos" />
          <p:commandButton action="gestionAlumno"         value="Alumnos" />
          <p:commandButton action="#{usuarioBean.salir}" value="Salir"/>
          
      </h:panelGrid>
     </div>
     <h:graphicImage url="/resources/images/4.png"/>
   <div align="right">
         		<p:outputLabel value="Usuario Logueado:  #{sessionScope['usuario'].nombre}"/>
         </div>
   </ui:composition>
</body>
</html>