<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<h:body> 
	<ui:composition template="/templates/templateMain.xhtml">
		<ui:define name="content">			
			<h:form id="form">
			<div align="left">
               <a href="home.xhtml"  > <h:graphicImage url="/resources/images/Home.png"/> </a> <h:graphicImage url="/resources/images/Usuarios.png"/>
            </div>
			    <div align="center">
				<h:panelGrid columns="2">		 		
		 			<p:outputLabel value="Nombre" />
		      		<p:inputText  value="#{usuarioBean.nombreUsuario1}" size="18" />
		      		
		      		<p:outputLabel value="DNI" />
		      		<p:inputText  value="#{usuarioBean.dni1}" size="18" />
		      		
		        	<p:commandButton actionListener="#{usuarioBean.buscar}"  value="Buscar" title="Buscar" update="usuarios" icon="ui-icon-search" />
				</h:panelGrid>
				</div>
				
				<p:dataTable id="usuarios" value="#{usuarioBean.usuarios}" var="usuario" styleClass="scrollerTable"
						paginator="false" headerClass="standardTable_Header"	footerClass="standardTable_Header"
	        			columnClasses="columna_abajoderecha,columna_abajoderecha,columna_abajo"	preserveDataModel="false" rows="15">			
					
				
					
					<p:column>
						<f:facet name="header" style="width:50%">
							<h:outputText value="Usuario"/>
						</f:facet>		
<!-- 					  <h:outputText value="#{usuario.usuario}"  /> -->
					</p:column>
					
					
					<p:column>
						<f:facet name="header" style="width:50%">
							<h:outputText value="Nombre"/>
						</f:facet>		
						<h:outputText value="#{usuario.nombre}"/>
					</p:column>
					
						<p:column>
						<f:facet name="header" style="width:50%">
							<h:outputText value="Apellido"/>
						</f:facet>		
						<h:outputText value="#{usuario.apellido}"/>
					</p:column>
					
					<p:column>
						<f:facet name="header" style="width:50%">
							<h:outputText value="DNI"/>
						</f:facet>		
						<h:outputText value="#{usuario.dni}"/>
					</p:column>
					
					<p:column>
						<f:facet name="header" style="width:50%">
							<h:outputText value="Clave"/>
						</f:facet>		
<!-- 						<p:password value="#{usuario.clave}"/> -->
					</p:column>
					
					<p:column>
						<f:facet name="header" style="width:50%">
							<h:outputText value="Email"/>
						</f:facet>		
						<h:outputText value="#{usuario.email}"/>
					</p:column>
					
					<p:column>
					  <p:commandButton action="{usuarioBean.eliminar}" title="Eliminar" ajax="true" update="usuarios" value="Eliminar" icon="ui-icon-close">
							<f:setPropertyActionListener value="#{usuario}" target="#{usuarioBean.usuario}"/>	
               			    <p:confirm header="Confirmar" icon="ui-icon-alert" message="Eliminar" />									
						</p:commandButton>
					</p:column>							
				</p:dataTable>
			</h:form>
		
		</ui:define>
	</ui:composition>
</h:body>
</html>