<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"	
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<h:body>
	<ui:composition template="/templates/templateMain.xhtml">
		<ui:define name="content">			
			<h:form id="form">
				<div align="left">
                </div>	 		
                 <br/>
                 <br/>
                <div align="center">
                <h1> Bienvenidos</h1>
                <h4>V.1.0</h4>
                </div> 
                 <br/>
                 <br/>
                 <br/>
                 <br/>
                 <br/>
                 <br/>
    			 <div>
                 <h:graphicImage url="/resources/images/4.png"/>
                 </div >			
				</h:form>
		</ui:define>
	</ui:composition>
  </h:body>
</html>